@media screen and (max-width: 800px) {
    body {
        max-width: none;
        margin: 0 auto;
    }
}

html {
    background-color: #EEE;
}

body{
    margin:40px auto;
    max-width:650px;
    line-height:2;
    font-size:18px;
    color:#454545;
    padding:0 10px;
}

h1,h2,h3 {
    line-height:1.2
}

a {
    color:#07a
}

a:visited {
    color:#941352
}

.post_date {
    font-size: 16px;
    color: rgba(69,69,69,0.8);
}

.subtitle {
    font-size: 15px;
    color: rgba(69,69,69,0.9);
}
